.search-container {
  position: relative;

  input:focus ~ .btn-submit {
    //visibility: visible;
  }

  .btn-submit {
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    //visibility: hidden;
  }
}
